[user]
	name = Vylssius
	email = vylssius@hotmail.com
[credential]
	helper = cache --timeout=1814400000
	helper = git-credential-manager
	helper = /usr/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
