/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.duplicatesList--SwGmL5ftwe {
  color: #0e6476;
  padding-left: 28px;
  margin-top: 10px;
}
.duplicateItem--mPX5urdfL2 {
  display: list-item;
  list-style: disc;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.boxTitle--OPmhjIjNsk {
  font-weight: 700;
}
.descriptionWarning--MZGXiyazU_ {
  color: #3e5d64;
}
.infoboxWrapper--wv1g66AwDu {
  position: relative;
}

.exit--p4spwlkedE {
  opacity: 1;
  overflow: hidden;
  max-height: 200px;
}

.exitActive--BIpaDF7MkX {
  opacity: 0;
  max-height: 0;
  transition: max-height 600ms ease-out, opacity 600ms ease-out;
}

.exitDone--KzowOK4h4K {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.appear--OcvlWdq5He {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.appearActive--HVwCcEJzKz {
  opacity: 1;
  max-height: 200px;
  transition: max-height 600ms ease-out, opacity 600ms ease-out;
}

.appearDone--KgBJPzbyTA {
  opacity: 1;
  max-height: 200px;
}

.appear--MMCjEcRU3u {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.appearActive--LG103cUrNZ {
  opacity: 1;
  max-height: 200px;
  transition: max-height 600ms ease-out, opacity 600ms ease-out;
}

.appearDone--tuYaN3WTGO {
  opacity: 1;
  max-height: 200px;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.boxTitle--dI7dzXiB3o {
  font-weight: 700;
}
.descriptionCompromised--JrkGSWK3jJ {
  color: #8b0018;
}
.descriptionWarning--ZUa9IXbcoR {
  color: #3e5d64;
}
.infoboxWrapper--HmImoFEcPo {
  position: relative;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.boxTitle--y4O5j9RFUf {
  font-weight: 700;
}
.descriptionCompromised--dc3NJ4rc_m {
  color: #8b0018;
}
.descriptionWarning--o32ZIVZVgW {
  color: #3e5d64;
}
.healthInfoContainer--Oetnuw7mbu {
  position: relative;
}
.infoboxWrapper--C1t3oF7LOn {
  position: relative;
}
.loader--q4x90RGHZr {
  position: absolute;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 56px;
}

.actions--JCCiMkKnJq {
  padding-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.actionRight--wPI7xER6uT {
  margin-left: 16px;
}

.healthEditContainer--lJ8iSk3hnU {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1;
      flex: 1;
  position: relative;
}

.healthEditContainer--lJ8iSk3hnU .formWithHealth--rKaIE4Sw6v {
  padding-top: 24px;
  overflow-y: initial;
  overflow-x: visible;
}

